.input-box
  position relative
  height 0.38rem
  background-color #F4F4F4
  margin-bottom 0.15rem
  input
    position absolute
    box-sizing border-box
    top 0
    left 0
    height 100%
    width 100%
    padding-left 0.09rem
    padding-right 0.09rem
    font-size 0.14rem
    background-color #F4F4F4
  .getcode-button
    position absolute
    top 0.05rem
    right 0.05rem
    width auto
    height 0.28rem
    border-radius 0
  .show-password
    position absolute
    top 0
    height 100%
    right 0.15rem
    width 0.25rem
    img
      position absolute
      top 50%
      transform translateY(-50%)
      width 100%

.cells
  margin-top: 0.15rem
  .cell
    position relative
    padding 0 0.15rem
    -webkit-tap-highlight-color:#f4f4f4;
    &:active
      background-color #f4f4f4
    &:last-of-type
      .cell-label
        border-bottom none
      .cell-ft
        border-bottom none
    .cell-label
      box-sizing border-box
      max-width 2.2rem
      border-bottom 1px solid #f4f4f4
      line-height 0.48rem
      font-size: 0.14rem
      color #333
      text-overflow ellipsis
      white-space: nowrap
      overflow: hidden
    .cell-info
      position absolute
      right 0.45rem
      top 0
      line-height: 0.48rem
      font-size: 0.14rem
      color #999
    .cell-ft
      position absolute
      right 0.13rem
      padding-right: 0.23rem
      top 0
      width: 2rem
      text-align right
      line-height 0.48rem
      height: 0.48rem;
      font-size: 0.16rem
      border-bottom 1px solid #f4f4f4
      color #ccc
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      i
        position absolute
        top 0
        right 0
        font-size: 0.12rem
        padding-left: 0.1rem

.mgt10
  margin-top: 0.1rem
.mgt20
  margin-top: 0.2rem