.mint-button
  font-size: 0.14rem
  height 0.35rem
  border-radius 3px
  padding: 0 0.1rem
.mint-button--primary
  background-color:rgb(231, 95, 21);
.mint-button--primary.is-plain
  border: 0.01rem solid rgb(231, 95, 21);
  color:rgb(231, 95, 21);
.mint-radio-input:checked + .mint-radio-core
  background-color: rgb(231, 95, 21);
  border-color: rgb(231, 95, 21);

.mint-checkbox-input:checked + .mint-checkbox-core 
  background-color: rgb(231, 95, 21);
  border-color: rgb(231, 95, 21);;
